/* ไฟล์ CSS ที่แยกต่างหาก */
.card {
  border-radius: 0.75rem !important;
  -webkit-border-radius: 0.75rem !important;
  -moz-border-radius: 0.75rem !important;
}

.button {
  border-radius: 0.5rem !important;
  -webkit-border-radius: 0.5rem !important;
  -moz-border-radius: 0.5rem !important;
}
